  
  <div class="container-fluid container-medio">
    <div class="row">
      <div class="col-sm-3" >
        <div class= "rounded cajita"> 
        <br>
        <p id="nombre"> {{persona.nombre}} {{persona.apellido}}
          <br>
        Full Stack Developer Junior</p>
        <br> 
      <br>
    </div>
    </div>
      <div class="col-sm-9">
      <div class= "rounded cajita">
      <br> 
      <p>Tengo 22 años, vivo en Capital Federal y me interesa introducirme en el mercado laboral del mundo de la programación full stack,
        soy una persona muy organizada y metódica, tengo un título en Dirección de Sonido y actualmente también estoy cursando la carrera de Letras de la UBA.
      
      </p>
      <br> </div>
      </div>
    </div>
  </div>
