<div class="row">
  <div class="col-sm-10">
  <h3>Experiencia laboral</h3>
  </div>
  <div class="col-sm-2">
  <button type="button" class="btn btn-outline-light my-2 my-sm-0 btnNuevaExp" routerLink="/nuevaExp"
    *ngIf="isLogged">Nueva Experiencia</button>
  </div>

  <div class="col-sm-1"></div>
  <div class="col-sm-11">
    <div class="container-fluid container-arriba">
      <table class="table">
        <tbody>
          <tr *ngFor="let Experiencia of exp">
            <td><h4>{{Experiencia.aniosE}}</h4></td>
            <td><h4>{{Experiencia.nombreE}}</h4></td>
            <td><p>{{Experiencia.descripcionE}}</p></td>
            <td *ngIf="isLogged">
              <button class="btn botonesEdicion btn-light" routerLink="/editExp/{{Experiencia.id}}"><i
                  class=" dibujo bi bi-pencil"></i></button>
            </td>
            <td *ngIf="isLogged">
              <button class="botonesEdicion btn btn-light" (click)="delete(Experiencia.id)">
                <i class="dibujo bi bi-trash3"></i></button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!---
    <div class="container-fluid container-arriba">
      <div class="row">
        <div class="col-sm-2" >
          <div class= "rounded"> 
          <br>
          <p class="años">2020-Hoy</p>
          <br> </div>
          </div>
        <div class="col-sm-8">
        <div class= "rounded cajita">
        <br>
        <h4>CLASES PARTICULARES DE INGLÉS</h4>
        <p>Grammar, Speaking, Reading </p>
        <br> </div>
        </div>
      </div>
    </div>
    
    <div class="container-fluid container-medio">
      <div class="row">
        <div class="col-sm-2" >
          <div class= "rounded "> 
          <br>
          <p class="años">2021-2022</p>
          <br> </div>
          </div>
        <div class="col-sm-8">
        <div class= "rounded cajita">
        <br>
        <h4>MANEJO DE REDES SOCIALES DEL CLUB POA</h4>
        <p>Edición de videos, creación de flyers y diseño.
          </p>
        <br> </div>
        </div>
      </div>
    </div>

    <div class="container-fluid container-medio">
      <div class="row">
        <div class="col-sm-2" >
          <div class= "rounded "> 
          <br>
          <p class="años">2022</p>
          <br> </div>
          </div>
        <div class="col-sm-8">
        <div class= "rounded cajita">
        <br>
        <h4>MOZA/VENDEDORA EN COPANI PURO CHOCOLATE</h4>
        <p>Encargada de la caja, organización y venta del local y también de preparar/servir café y postres.    
          </p>
        <br> </div>
        </div>
      </div>
    </div>

    <div class="container-fluid container-medio">
        <div class="row">
          <div class="col-sm-2" >
            <div class= "rounded "> 
            <br>
            <p class="años">2021-2023</p>
            <br> </div>
            </div>
          <div class="col-sm-8">
          <div class= "rounded cajita">
          <br>
          <h4>TRABAJOS VARIOS DE SONIDISTA DE DIRECTO</h4>
          <P>Para la productora Ninfa Proucciones, la productora JoaquinTV y Canal Encuentro</P>
          <br> </div>
          </div>
        </div>
      </div>    
  
  <div>
    <h3>Proyectos</h3>
    </div>
    
    <div class="container-fluid container-arriba">
      <div class="row">
        <div class="col-sm-2" >
          <div class= "rounded"> 
          <br>
          <p class="años">2023</p>
          <br> </div>
          </div>
        <div class="col-sm-8">
        <div class= "rounded cajita">
        <br>
        <h4>CREACIÓN DE PORTAFOLIO WEB</h4>
        <p>Trabajo Final de Argentina Programa</p>
        <br> </div>
        </div>
      </div>
    </div>
    
  -->