<div>
    <h3>Habilidades</h3>
  </div>
  
  <div class="container-fluid container-arriba" >
    <div class="row">
      <div class="col-sm-2" >
        <div class= "rounded cajita"> 
          <br>
          <p>Microsoft Office 
          (Word, Excel, Powerpoint)</p>
          <br>
          <div class="progress barrita" >
          <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" 
          style="width:80%"></div> 
          <br>
          </div>
         </div>
        </div>
      <div class="col-sm-2">
      <div class= "rounded cajita">
        <br>
        <p>Inglés</p>
        <br>
        <br>
        <div class="progress barrita">
        <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" 
        style="width:100%"></div> 
        <br>
        </div>
       </div>
      </div>
      <div class="col-sm-2">
        <div class= "rounded cajita">
          <br>
          <p>Paquete Adobe (Premiere, Audition, Photoshop)</p>
          <div class="progress barrita">
          <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" 
          style="width:80%"></div> 
          <br>
          </div>
         </div>
        </div>
        <div class="col-sm-2" >
          <div class= "rounded cajita"> 
            <br>
            <p>HTML, CSS, Bootstrap</p>
            <br>
            <br>
            <div class="progress barrita">
            <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" 
            style="width:90%"></div> 
            <br>
            </div>
           </div>
          </div>
        <div class="col-sm-2">
        <div class= "rounded cajita">
          <br>
          <p>Javascript, Ruby</p>
          <br>
          <br>
          <div class="progress barrita">
          <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" 
          style="width:90%"></div> 
          <br>
          </div>
         </div>
        </div>
        <div class="col-sm-2">
          <div class= "rounded cajita">
            <br>
            <p>JAVA, MySQL</p>
            <br>
            <div class="progress barrita">
            <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" 
            style="width:80%"></div> 
            <br>
            </div>
           </div>
          </div>
    </div>
  </div>
  