<!--Navigation bar-->
<div class="container-fluid">
    <nav class="navbar navbar-dark">
      <!-- Brand -->
      <a class="navbar-brand" href="#">
      <img src="assets/APLogo-20-20.png" alt="Logo" style= "width: 150px ; padding : 0px;"></a>
  
      <!-- LOGIN -->  
     <div class="login-btn">
      {{getUser()}}
      <button type="button" class="btn btn-outline-light my-2 my-sm-0" (click)="switch()"  *ngIf="!isLogged">Login</button>
      <button type="button" class="btn btn-outline-light my-2 my-sm-0" (click)="onLogout()" *ngIf="isLogged">Logout</button>
    </div> 
    </nav>
  </div>
   <app-login *ngIf="test"></app-login>
 
  
  <!-- Banner header and icon --> 
  <div class="container-fluid">
    <div class="header" >
        <img src= {{person.header}}
        class ="img-fluid rounded" alt="header" height="290" width="1350"> 
      <div class="icon rounded-circle" >
        <img src= {{person.img}} class= "rounded-circle img-fluid" 
        alt="icon" height="130" width="130">
      </div>
    </div>
    </div>